/* src/SplashScreen.css */
.splash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.splash-logo {
  width: 150px;
  height: 150px;
  transition: transform 30s ease-in-out;
}

.start-animation {
  animation: splashTiltZoom 3.5s ease-in-out forwards;
}

@keyframes splashTiltZoom {
  0% {
    transform: rotate(-15deg) scale(1);
  }
  25% {
    transform: rotate(15deg) scale(1.1);
  }
  50% {
    transform: rotate(-10deg) scale(1.2);
  }
  75% {
    transform: rotate(10deg) scale(1.05);
  }
  100% {
    transform: rotate(0deg) scale(0.3);
    opacity: 0;
  }
}
